html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body { background: #F9EAE2; }

.center {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 3s;
}

.center img {
  max-height: 60vh;
  max-width: 80vw;
}
