@import url("https://use.typekit.net/dnb0iig.css");

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #C77C02;
}

body { background: #F9EAE2; }

.center {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 3s;
}

.center img {
  max-height: 60vh;
  max-width: 80vw;
}

p {
  margin-top: 8vh;
  font-family: azo-sans-web, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.6vh;
  letter-spacing: 0.05em;
}

/* @media only screen and (max-width: 600px) {
    p {
        font-size: 14px;
        margin-top: 14vh;
    }
} */
