@import url("https://use.typekit.net/dnb0iig.css");

@font-face {
  font-family: YuantiSCLight;
  src: url(YuantiSCLight.ttf);
}

@font-face {
  font-family: AvenirLight;
  src: url(AvenirLight.ttf);
}

@font-face {
  font-family: AvenirLightOblique;
  src: url(AvenirLightOblique.ttf);
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  color: #C77C02;
  background: #F9EAE2;
  font-size: 1.8vh;
  letter-spacing: 0.05em;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  margin: 24px;
  font-family: AvenirLight;
}

header > div {
  margin: 24px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  header, header > div { margin: 12px; }
}

#fr { display: none; }
#cn { display: none; }

#en, #fr, #cn {
  opacity: 0;
  transition: opacity 2s ease;
}

.center {
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center img {
  max-height: 60vh;
  max-width: 80vw;
}

p {
  margin-top: 8vh;
  font-family: AvenirLight, azo-sans-web, sans-serif;
}

i {
  font-family: AvenirLightOblique, azo-sans-web, sans-serif;
  font-style: normal;
}

.cn {
  font-family: YuantiSCLight, sans-serif;
}

/* @media only screen and (max-width: 600px) {
    p {
        font-size: 14px;
        margin-top: 14vh;
    }
} */
